@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;400;600;900&display=swap');

body {
  background-color: #3d2683;
  margin: 0;
  padding: 0;
  font-family: 'Biryani', sans-serif;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 4.5rem);
  overflow-y: auto;
  box-sizing: border-box;
  padding: 1rem;
}